@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    display: none;
}

body {
    background-color: #FFE000;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato';
}

#landing-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100vh; 
    overflow: hidden;
}

.uptop {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    color: white;
}

.sss {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 1.3rem;
}

.add-ons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.add-ons .logo {
    width: 40px;
    height: 50px;
    margin-right: 10px;
}

.add-ons .seal {
    width: 50px;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;
}

.add-ons .line {
    border: 2px solid white;
    width: 100%;
    color: white;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
}

.text h1 {
    font-size: 100px;
    position: relative;
    z-index: 2;
}

.text span {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../assets/back.png);
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 2000px 0;
    }
}

.ktn h1{
    font-size: 50px;
}

.ktn p {
    text-align: right;
    font-weight: 600;
    font-size: 24px;
}

.container {
    width: 1150px;
    height: 600px;
    position: relative;
    left: 4rem;
    bottom: 6.5rem;
}

.cotocola {
    position: absolute;
    right: 25em;
    top: 2.8rem;
    height: 600px;
    width: 500px;
}

@keyframes running_text {
    0% {
        transform: translateX(0%); 
    }
    100% {
        transform: translateX(-100%); 
    }
}

.running-text {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    overflow: hidden;
}

.running-text .toripuruesu {
    display: flex;
    position: relative;
    font-size: 32px;
    margin: 5px 0;
    bottom: 0;
    white-space: nowrap;
    color: #FFE000;
    animation: running_text 10s linear infinite;
}

#gallery {
    background-color: #FFE000;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 100px,
        white 100px 101px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 100px,
        white 100px 101px
    );
}

#gallery::before {
    position: absolute;
    width: min(1400px, 90vw);
    top: 110%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    content: '';
    background-image: url(assets/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}

.gal-wrap{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.gal-wrap .slider{
    position: absolute;
    width: 200px;
    height: 290px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1200px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun{
    from{
        transform: perspective(1200px) rotateX(-16deg) rotateY(0deg);
    }to{
        transform: perspective(1200px) rotateX(-16deg) rotateY(360deg);
    }
}

.gal-wrap .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(550px);
}
.gal-wrap .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gal-wrap .words {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 90px;
    text-align: left;
    margin-left: 3rem;
    z-index: 2;
    width: min(1200px, 100vw);
}

.gal-wrap .words h1 {
    color: white;
    font-size: 100px;
    font-weight: 900;
    font-family: 'ICA Rubrik';
}

.gal-wrap .words .triples-infos button {
    border-radius: 10px;
    background-color: white;
    border-color: #FFE000;
    color: #FFC201;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    font-family: "ICA Rubrik";
    margin: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.gal-wrap .words .triples-infos button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.gal-wrap .words .triples-infos button span:after {
    content: '\00bb';
    font-size: 20px;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.gal-wrap .words .triples-infos button:hover span {
    padding-right: 25px;
}
  
.gal-wrap .words .triples-infos button:hover span:after {
    opacity: 1;
    right: 0;
}
